<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c" xmlns:cache="http://www.springframework.org/schema/cache" xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang" xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring" xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		">

	<context:property-placeholder location="classpath:config/datasource-mysql.properties" />

	<bean id="mysqlDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${mysql.url}" />
		<property name="username" value="${mysql.username}" />
		<property name="password" value="${mysql.password}" />
	</bean>


<!-- 
	<context:component-scan base-package="com.iamVip.getJSON">
		<context:exclude-filter type="regex" expression="com.iamVip.getJSON.request" />
	</context:component-scan>

	<context:annotation-config />
 -->


	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="mysqlDataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="txManager" />

	<bean id="mysqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="mysqlDataSource" />
		<property name="transactionFactory">
			<bean class="org.mybatis.spring.transaction.SpringManagedTransactionFactory" />
		</property>
		<property name="mapperLocations">
			<list>
				<value>classpath:config/mybatis/mysql-*.xml</value>
			</list>
		</property>
	</bean>

	<bean class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory" ref="mysqlSessionFactory" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="mysqlSessionFactory" />
		<property name="basePackage" value="com.iamVip.getJSON.database.access.layout" />
	</bean>





















	<!-- 配置工具 -->
	<bean class="com.iamVip.getJSON.rs.util.ConfigUtil" scope="singleton">
		<constructor-arg name="message" type="java.lang.String" value="Hello world!" />
		<!-- 默认跳转URL,应和index.jsp页面跳转的URL一致 -->
		<constructor-arg name="defaultURL" type="java.lang.String" value="" />
		<!-- 后台跳转URL,管理界面 -->
		<constructor-arg name="forwardURL" type="java.lang.String" value="" />
		<!-- 最大JSON模版数目 -->
		<constructor-arg name="maxTemplate" type="java.lang.Integer" value="10" />
		<!-- TOKEN过期时间 -->
		<constructor-arg name="offMinutes" type="java.lang.Integer" value="300" />
	</bean>

	<!-- 过滤URL及对应Method -->
	<bean class="com.iamVip.getJSON.rs.util.MethodUtil" scope="singleton">
		<constructor-arg name="ignores">
			<list value-type="java.lang.String">
				<value>com.iamVip.getJSON.request.api.*</value>
				<value>com.iamVip.getJSON.request.web.HomeWebRequest.*</value>
			</list>
		</constructor-arg>
	</bean>

</beans>